/**/configuration/docker/delivery

######################
# Files
######################
Everything is important except xml files b/c screw those files

/bower_components
**.xml
/.idea
/node_modules
**.iml

