/****************************************************
 Page-specific styling
****************************************************/
body {
    font-family: "Segoe WP", "Segoe UI", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    max-height: 100%;
    overflow-x : hidden;
}

#content-main {
    background: #fff;
    position: fixed;
    top: 80px; /* Same value as #content-header's height */
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto; /* Enable scrollbars within main content section */
}

/****************************************************
 MyScript Math Web
 ****************************************************/

#mathInput {
	height : calc(100vh - 90px);
}

myscript-common-element.result.myscript-math-web {
    min-width: 100px;
    min-height : 100px;
}

.write-here {
    position: absolute;
    width : 100vw;
    text-align : center;
    padding:  0;
    margin: 48vh auto 0;
    transform: translateY(-50%);
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 40px;
    z-index: 1;
}

.resultField.myscript-math-web {
    padding-top: 6px;
    font-size: large;
    min-width: 130px;
    min-height: 124px;
    border-bottom: 1px solid #C7E0F4;
}

canvas[id^=ms-capture-canvas] {
    background: url("./Images/logos/myscript.svg") 6px bottom / 106px no-repeat;
}

canvas[id^=ms-rendering-canvas] {
    background: url("./Images/texture.svg") center top;
}

/****************************************************
 Banner
 ****************************************************/

.ms-MessageBanner {
    padding: 10px auto 14px;
    font-size: 16px;
    line-height: 18px;
    background: #eff6fc ;
    border-bottom: 1px solid #C7E0F4;
    min-width: 0px;
}

.ms-MessageBanner-text {
    margin-left: 0px;
    min-width: 0px;
    text-align: center;
}

.ms-MessageBanner-clipper{
    white-space: normal;
}

.ms-MessageBanner-clipper a{
    color: #106EBE ;
    text-decoration: underline;
}

/****************************************************
 export/undo/redo/trash buttons
 ****************************************************/
.ms-Button.ms-Button--exporttrashundoredo {
    color: #fff;
    background: #106EBE;
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    text-align: center;
    margin: 3px;
    font-size: 12px;
    border-radius: 50%;
    border: none;
    padding: 8px 9px 10px;
}

.ms-Button.ms-Button--exporttrashundoredo:hover{
    background: #005A9E;
}

.ms-Button.ms-Button--exporttrashundoredo .ms-Button-label {
    color: #fff;
}

.actionbuttons {
    position: absolute;
    top: 184px;
    right: 0px;
    margin: 3px;
    z-index: 2;
}

.exportbuttons {
    position: absolute;
    margin: 9px;
    z-index: 2;
    display: flex;
}

.menu {
    position: relative;
    padding: 8px 24px 8px 12px;
    background: #DEECF9;
    font-size: 16px;
    line-height: 24px;
    border-radius: 3px;
    margin-left: 12px;
    display: none;
}

.menu a{
    color: #106EBE;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.menu a:hover {
     color: black;
}

.menu:before {
     position: absolute;
     left: -6px;
     top: 12px;
     content: "";
     display: block;
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 6px 6px 6px 0;
     border-color: transparent #DEECF9 transparent transparent;
 }

.icon-export:before{
    background: url(./Images/button/export.svg) center center / 18px 18px no-repeat;
    content: "";
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 18px;
    width: 18px;
    margin: auto;
}

.icon-undo:before{
    background: url(./Images/button/undo.svg) center center / 18px 18px no-repeat;
    content: "";
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 18px;
    width: 18px;
    margin: auto;
}

.icon-redo:before{
    background: url(./Images/button/redo.svg) center center / 18px 18px no-repeat;
    content: "";
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 18px;
    width: 18px;
    margin: auto;
}

.icon-trash:before{
    background: url(./Images/button/trash.svg) center center / 18px 18px no-repeat;
    content: "";
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 18px;
    width: 18px;
    margin: auto;
}

/****************************************************
 Media Queries
 ****************************************************/

@media (max-height:250px) {

    .actionbuttons {
        top: 0px !important;
    }

    .resultField.myscript-math-web {
        visibility : hidden;
        display: none;
    }

    #mathInput {
        height : 100vh !important;
    }

    myscript-common-element.result.myscript-math-web {
        height: 100%;
    }

    canvas[id^=ms-capture-canvas] {
        background: none;
    }

}

@media (max-height:530px) {

    #mathInput {
        height : calc(100vh - 35px);
    }

    .actionbuttons {
        top: 131px;
    }

    #banner {
        display : none;
        visibility : hidden;
    }
}

@media (max-width:165px) {
    .actionbuttons {
        display: none;
    }
}

@media (max-width:280px) {

    canvas[id^=ms-capture-canvas] {
        background: none;
    }

    #mathInput {
        height : calc(100vh - 40px);
    }

    .actionbuttons {
        top: 131px;
    }

    #banner {
        display : none;
        visibility : hidden;
    }
}

@media (max-width:335px){

    .ms-MessageBanner-text {
        padding: 10px 0 10px;
    }

}

@media (max-height:530px) and (max-width:330px) {

    .actionbuttons {
        top: 0px;
        margin: 9px;
    }

    #undo, #redo {
        display: none;
    }

    .resultField.myscript-math-web {
        visibility : hidden;
        display: none;
    }

    #mathInput {
        height : 100vh;
    }

    myscript-common-element.result.myscript-math-web {
        height: 100%;
    }

}

@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 13/10),
only screen and (min-resolution: 120dpi)
{
    canvas[id^=ms-rendering-canvas] {
        background: url("./Images/texture.svg") center top;
    }
}