.nav-btn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    padding: 0 1.5rem;
    color: #424242;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 2px;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
}

.nav-btn > img {
    display: block;
    width: 50%;
    margin: 9px auto;
}

.nav-btn.btn-fab, .nav-btn.btn-fab-mini {
    overflow: hidden;
    position: relative;
    margin: auto 12px auto auto;
    padding: 0;
    line-height: normal;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
}
.nav-btn.btn-fab {
    width: 56px;
    height: 56px;
    font-size: 28px;
}
.nav-btn.btn-fab-mini {
    width: 40px;
    height: 40px;
    font-size: 24px;
}

/* Buttons Color */
.nav-btn.btn-lightBlue {
    color: #FFF;
    background-color: #1A9FFF;
}

.nav-btn.btn-lightBlue:active {
    color: #fff;
    text-decoration: none;
    background: #0065b8;
    box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .5);
}

.nav-btn:disabled, .nav-btn[disabled] {
    pointer-events: none;
    cursor: default;
    background-color: #ececec;
    -webkit-box-shadow: none;
    box-shadow: none;
}